{% extends 'base.html' %}

{% block content %}
<form>
    <div class="mb-3">
        <label for="searchMovie" class="form-label">
            Search for Movie:
        </label>
        <input type="text" class="form-control" name="searchMovie">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% if recommended_movie %}
    <div v-for="movie in movies" class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{ recommended_movie.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title fw-bold">{{ recommended_movie.title }}</h5>
                <p class="card-text">{{ recommended_movie.description }}</p>
                {% if recommended_movie.url %}
                    <a href="{{ movie.url }}" class="btn btn-primary">
                        Movie Link
                    </a>
                {% endif %}
                {% if recommended_movie.genre %}
                    <p class="card-text"><span style = "font-weight: bold;">Genre:</span> {{ movie.genre }}</p>
                {% endif %}
                {% if recommended_movie.year %}
                    <p class="card-text"><span style = "font-weight: bold;">Year:</span> {{ movie.year }}</p>
                {% endif %}
            </div>
          </div>
    </div>
    {% endif %}
</div>
{% endblock %}